h1 {
    background-color: violet;
    opacity: 0.8;
  }
  
  div {
    background-color: rgba(0, 128, 0, 0.6); /*here "alpha" is the opacity. So, we don't need to declare opacity here again.*/
  }
  
  p {
    background-color: yellow;
  }
  .first {
      background-image: url(img/workplace.jpg);
      background-repeat: repeat-x; /*repeat-x - repeats image horizontally; repeat-y - repeats image vertically; no-repeat - doesn't repeats BG image*/
      background-position: center; /*left top; right bottom; left bottom; top center; bottom center; left; right; top; bottom; center*/
      background-attachment: fixed; /*Fixed: eta hoile image fix thakbe, amra scroll kore niche geleo eta ager jaygay thakbe; Scroll: eta dile amra jokhon scroll kore niche jabo eta o text er sathe sathe upre chole jabe.*/
      background-size: auto; /*ekhane amra aladavabr height & width o define kore dite pari. Auto holo by default value*/
  }
  /*The background-origin property specifies the origin position (the background positioning area) of a background image. value - 1. border-box, 2. padding-box, 3. content-box*/
  /*The background-clip property defines how far the background (color or image) should extend within an element. value - 1. border-box, 2. padding-box, 3. content-box*/
  /*shorthand notation for background is ::: background: color image repeat attachment position;*/