p.one {
    border: 1px solid black;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
    background-color: lightblue;
    /*padding style*/
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
}
p.two {
    border: 1px solid black;
    margin: 25px 50px 75px 100px;
    padding: 25px 50px 75px 100px;
    background-color: lightblue;
}
p.three {
    border: 1px solid black;
    margin: 25px 50px 75px;
    padding: 25px 50px 75px;
    background-color: lightblue;
}
p.four {
    border: 1px solid black;
    margin: 25px 50px;
    padding: 25px 50px;
    background-color: lightblue;
} 
p.five {
    border: 1px solid black;
    margin: 25px;
    padding: 25px;
    background-color: lightblue;
}
p.six {
    width: 300px;
    margin: auto;
    padding: 25px;
    border: 1px solid red;
}
div {
    border: 1px solid red;
    margin-left: 100px;
}
p.ex1 {
    margin-left: inherit;
}
h5 {
    margin: 0 0 50px 0;
}
h6 {
    margin: 20px 0 0 0;
}

.heightwidth1 {
    height: 200px;
    width: 50%;
    background-color: powderblue;
}
.heightwidth2 {
    height: 200px;
    width: 500px;
    background-color: powderblue;
}
.heightwidth3 {
    height: 200px;
    max-width: 500px;
    background-color: powderblue;
}

.boxModel {
    background-color: lightgrey;
    width: 300px;
    border: 15px solid green;
    padding: 50px;
    margin: 20px;
}

/*outline*/
/*outline-style*/
p {outline-color:red;}
p.dotted {outline-style: dotted;}
p.dashed {outline-style: dashed;}
p.solid {outline-style: solid;}
p.double {outline-style: double;}
p.groove {outline-style: groove;}
p.ridge {outline-style: ridge;}
p.inset {outline-style: inset;}
p.outset {outline-style: outset;}

/*outline-width*/
p.ex1 {
    border: 1px solid black;
    outline-style: solid;
    outline-color: red;
    outline-width: thin;
}
p.ex2 {
    border: 1px solid black;
    outline-style: solid;
    outline-color: red;
    outline-width: medium;
}
p.ex3 {
    border: 1px solid black;
    outline-style: solid;
    outline-color: red;
    outline-width: thick;
}
p.ex4 {
    border: 1px solid black;
    outline-style: solid;
    outline-color: red;
    outline-width: 4px;
}

/*outline offset example*/
p.offset {
    margin: 30px;
    background:yellow;
    border: 1px solid black;
    outline: 1px solid red;
    outline-offset: 15px;
}